body {
          font-family: "Poppins", sans-serif;
          margin: 0;
          padding: 0;
          box-sizing: border-box;
          font-family: "Poppins", sans-serif;
          background-color: #223;
}


h1 {
  font-size: 50px;
   font-color:white;
}

h1:hover{
  font-size: 50px;
  color:white;
}

h3 {
  font-size: 40px;
  font-color:white;
}
h3:hover{
  font-size: 50px;
  color:white;
}


.orange-color {
  color: orange;
}

.flexible-container { 
  display: flex;
  margin-bottom: 150px;
}

.half-width {
  width: 50%;
  padding-left: 5%;
  text-align: justify;
}

.half-width p {
  padding-right: 50px;
}
.half-width p:hover {
  padding-right: 50px;
  font-color:white;
}
.half-width img {
  width: 80%;
  padding-top: 30px;
}

.link-button {
  text-decoration: none;
  /* background-color: orange; */
  background-image: linear-gradient(orange, tomato);
  color: white;
  font-weight: 700;
  padding: 10px 20px;
  border-radius: 5px;
}

.link-button:hover {
  text-decoration: none;
  /* background-color: orange; */
  background-image: linear-gradient( LightSkyBlue, LightSlateGray);
  color: white;
  font-weight: 700;
  padding: 10px 20px;
  border-radius: 5px;
}

.top-banner {
  background-image: url("images/top-banner.png");
  background-repeat: no-repeat;
  box-sizing: border-box;
}

.dream-big {
  background-image: url("images/dream-bg.png");
  background-repeat: no-repeat;
  background-position: right;
  box-sizing: border-box;
}

.experience-area {
  background-image: url("images/exp-bg.png");
  background-repeat: no-repeat;
  background-position: left;
  box-sizing: border-box;
}

.experience-item {
  width: 40%;
  margin-left: 5%;
  margin-right: 5%;
  padding-left: 30px;
  padding-right: 30px;
  border-radius: 10px;
  box-shadow: 10px 10px 40px gray;
  text-align: justify;
}

#full-stack-experience {
  border-left: 7px solid;
  border-image: linear-gradient(purple, tomato);
  border-image-slice: 1;
}

#full-stack-experience:hover{
background: transparent;
color:#fd4766;
}


#web-dev-experience { 
  border-left: 7px solid;
  border-image: linear-gradient(blue, cyan);
  border-image-slice: 1;
}
#web-dev-experience:hover{
background: transparent;
color:#fd4766;
}

footer p {
  text-align: center;
 color:white;
}
footer p:hover {
  text-align: center;
 color:white;
}
.experience-area h1 {
  padding: 5%;
}

.social {
  padding: 15px;
  margin: 5px;
  border-radius: 6px;
  position: relative;
  overflow: hidden;
}
/* Social Media Links*/
.social a{
  font-size: 30px;
  color: #F4FFFE;
  border-style: groove;
  border-color: grey;
  padding: 10px;
  margin: 10px;
  border-radius: 6px;
  display: inline-block
}
.social:hover {
  padding: 18px;
  margin: 7px;
  border-radius: 7px;
  position: relative;
  overflow: hidden;
  color:white;
}